<launch>

    <arg name="bag_file1" default="/home/user1/Data/ssd/ay2019/gem_nav_odom_2019-06-21-11-26-44/gem_e2_2019-06-21-11-26-44.bag"/>
    <arg name="bag_file2" default="/home/user1/Data/gem_nav_odom_2019-06-21-11-45-34/gem_nav_odom_2019-06-21-11-45-34.bag"/>
    <arg name="bag_file3" default="/home/user1/Data/gem_nav_odom_2019-06-21-11-26-44/gem_e2_2019-06-21-11-26-44.bag"/>
    <arg name="bag_file3o" default="/home/user1/Data/AckermanAnalysis/output.bag"/>
    <arg name="pcap_file1" default="/home/user1/Data/ssd/ay2019/pcaps/vlp64_2019_06_21_11_26.pcap"/>
    <arg name="pcap_file2" default="/home/user1/Data/pcaps/vlp64_2019_06_21_11_45.pcap"/>
    <arg name="pcap_file3" default="/home/user1/Data/pcaps/vlp64_2019_06_21_11_26.pcap"/> 

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~ Replay the bag files ~~~~~~~~~~~~~~~~~~~~~~ -->
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock -l $(arg bag_file3o)"/>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~ Velodyne Lidar and laserscan ~~~~~~~~~~~~~~ -->
    <include file="$(find gem_localization)/launch/velodyne_bringup.launch">
        <arg name="pcap" value="$(arg pcap_file3)" />
    </include>  
         
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~ Robot Model ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <group ns="robot_model">
    <node name="robot_state" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" value="2" />
        <param name="future_date_fixed_transforms" value="1.0" />
    </node>
    <param name="robot_description" textfile="$(find gem_localization)/urdf/gem_e2.urdf" />
  </group> 

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~ Robot Odom from Speed and Yaw  ~~~~~~~~~~~~ -->
  <node pkg="gem_localization" type="odom_from_speedometer.py" name="odom_speed" ns="localization"/>

<include file="$(find gem_localization)/launch/dual_ekf_navsat_example.launch"/>


</launch>
